				</div> <!-- IE Column Clearing -->
			<div id="ie_clearing">&nbsp;</div>
			<!-- Ende: IE Column Clearing -->

		</div>
		<!-- #col2: - Ende -->

		</div>
		<!-- #main: - Ende -->

		<!-- #Footer: Beginn Fusszeile -->
		<div id="footer">&copy; 2004-2013 SoftwareEntwicklung<img src="/images/arrows.gif" border="0" style="margin-left: 2px; margin-right: 3px;" alt=""/>Beratung<img src="/images/arrows.gif" border="0" style="margin-left: 2px; margin-right: 3px;" alt=""/>Schulung
</div>
		<!-- #Footer: Ende -->
		</div>
		</div>
	</body>
</html>
