{% include head.html %}
		<!-- #nav: Hauptnavigation -->
		<div id="nav">
			<a id="navigation" name="navigation"></a> <!-- Skiplink-Anker: Navigation -->
			<div id="nav_main">
				<ul>
					<li id="current"><a href="#">Startseite</a></li>
					<li><a href="se.html">SoftwareEntwicklung</a></li>
					<li><a href="beratung.html">Beratung</a></li>
					<li><a href="/public/index.html">Veröffentlichungen</a></li>
					<li><a href="/blog/index.html">Blog</a></li>
					<li><a href="/impressum/index.html">Impressum</a></li>
				</ul>
			</div>
		</div>
		<!-- #nav: - Ende -->

		<!-- #main: Beginn Inhaltsbereich -->
		<div id="main">
		<a id="content" name="content"></a> <!-- Skiplink-Anker: Content -->

		<!-- #col1: Erste Float-Spalte des Inhaltsbereiches -->
			<div id="col1">
			  <div id="col1_content" class="clearfix">

				<ul id="submenu">
					<li id="title">Startseite</li>
					<li><a href="#">Veroeffentlichungen</a></li>
					<li><a href="#">Referenzen</a></li>
					<li><a href="#">Zertifikate</a></li>
				</ul> 

			  </div>
			</div>
		<!-- #col1: - Ende -->

		<!-- #col2: zweite Flaot-Spalte des Inhaltsbereiches -->
			<div id="col2">
			  <div id="col2_content" class="clearfix">
<!--
				<h2>Spalte #col2</h2>
				<p>...</p>
-->
			  </div>
			</div>
		<!-- #col2: - Ende -->

		<!-- #col3: Statische Spalte des Inhaltsbereiches -->
			<div id="col3">
				<div id="col3_content" class="clearfix">
{{ content }}
{% include footer.html %}
